<%= render partial: 'admin/schedule_management/index/include' %>

    <div class="row">
      <div class="col-12">
        <!-- Left sidebar -->
        <%= render partial:  'admin/schedule_management/index/tableCourses'%>
        <%= render partial: 'admin/schedule_management/index/tableSchedules' %>
        <!-- End Left sidebar -->
      </div>
    </div>