<%= render partial: 'admin/schedule_management/index/include' %>

<div class="row">
  <div class="col-3">
    <%= render partial: 'admin/schedule_management/index/leftSidebar' %>
  </div>
  <div class="col-9">
    <%= render partial: 'admin/schedule_management/index/rightSidebar' %>
  </div>
</div>