<div class="table-responsive">
  <table class="table mb-0">
    <thead class="thead-default">
    <tr>
      <th>STT</th>
      <th>Họ tên</th>
      <th>Ca đăng kí</th>
      <th>Phòng thi</th>
      <th>Cập nhật lúc</th>
    </tr>
    </thead>
    <tbody>
    <%= render partial: 'admin/course_management/show/tableRows' %>
    </tbody>
  </table>
</div>