<div class="collapse" id="inputXLS">
  <div class="mt-3 mb-0">
    <div class="row">
      <div class="col-12">
        <div class="card m-b-30">
          <div class="card-body">
            <h4 class="mt-0 header-title">Nhập dữ liệu từ file Excel</h4>
            <p class="sub-title">Vui lòng tham khảo định dạng mẫu trước khi nhập dữ liệu từ file. Dữ liệu mới sẽ được thêm vào cơ sở dữ liệu hiện tại
            </p>

            <div class="m-b-30">
              <%= form_tag(uploadData_admin_student_management_index_path, :id => 'dropzone', multipart: true, :class => 'dropzone') do |form| %>
                <div class="m-b-30">
                    <div class="fallback">
                        <%= file_field_tag "file" %>
                      <input name="file" type="file" multiple="multiple">
                    </div>
                </div>
              <% end %>
           </div>
        </div>
      </div> <!-- end col -->
    </div> <!-- end row -->
  </div>
</div>
</div>