<div class="error-bg"></div>
<div class="account-pages">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-lg-5 col-md-8">
        <div class="card shadow-none">
          <div class="card-block">
            <div class="text-center p-3">

              <h1 class="error-page mt-4"><span>404!</span></h1>
              <h4 class="mb-4 mt-5">Xin lỗi, bạn không có quyền truy cập trang này</h4>
              <a class="btn btn-primary mb-4 waves-effect waves-light" href=<%= root_path %>><i class="mdi mdi-home"></i> Quay lại</a>
            </div>

          </div>
        </div>

      </div>
    </div>
    <!-- end row -->
  </div>
</div>
<!-- END wrapper -->