<!-- Footer -->
<footer class="footer">
  © 2019 Testready <span class="d-none d-sm-inline-block"> - Made <i class="mdi mdi-heart text-danger"></i> by @megatunger + @lymin1808 + @ngattaro</span>.
</footer>
<!-- End Footer -->