<div class="card">
  <div class="card-heading p-4">
    <div class="mini-stat-icon float-right">
      <i class="mdi mdi-account-badge-horizontal bg-primary  text-white"></i>
    </div>
    <div>
      <h5 class="font-16">Tổng số sinh viên</h5>
    </div>
    <h3 class="mt-4">
      <%= @students.count %>
    </h3>
  </div>
</div>