<%= render partial: 'admin/room_management/include' %>
<input type="hidden" id="roomID" value=-1>

<div class="row">
  <div class="col-12">
    <%= render partial: 'admin/room_management/index/leftSidebar' %>
    <%= render partial: 'admin/room_management/index/rightSidebar' %>
  </div>
</div>
<!-- End row -->