<div class="row">
  <div class="col-12">
    <div class="card-columns">
      <div class="card m-b-30">
          <div class="card-body">
            <div class="mini-stat-icon float-right">
              <i class="mdi mdi-cube-outline bg-success  text-white"></i>
            </div>
            <div>
              <h5 class="font-16">Name</h5>
            </div>
            <h3 class="mt-4">CourseID</h3>
            <div class="progress mt-4" style="height: 4px;">
              <div class="progress-bar bg-success" role="progressbar" style="width: 75%" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100"></div>
            </div>
            <p class="text-muted mt-2 mb-0">Tỉ lệ hoàn thành đăng kí<span class="float-right">75%</span></p>
            <a href="#" class="btn btn-success mt-2">Dang ki</a>
          </div>
        </div>
    </div>
  </div>
</div>