<%= render partial: 'dashboard_admin/course_management/index/include' %>
<div class="wrapper">
  <div class="container-fluid">
    <!-- Page-Title -->
    <div class="page-title-box">
      <div class="row align-items-center">
        <div class="col-sm-6">
          <h4 class="page-title">Quản lí khoá học</h4>
        </div>
        <div class="col-sm-6">
          <ol class="breadcrumb float-right">
            <li class="breadcrumb-item"><a href=<%=root_path%>>TestReady</a></li>
            <li class="breadcrumb-item active">Quản lí khoá học</li>
          </ol>
        </div>
      </div>
      <!-- end row -->
    </div>

    <div class="row">
      <div class="col-12">
          <div class="card-body">
            <%= render partial: 'dashboard_admin/course_management/index/tableCourse' %>
          </div>

      </div> <!-- end col -->
    </div> <!-- end row -->
  </div>
  <!-- end container-fluid -->
</div>
<!-- end wrapper -->