<!-- Begin page -->
<div class="accountbg" style = "background: url(<%=image_path "restaurant.png"%>)"></div>
<div class="wrapper-page">
  <div class="card card-pages shadow-none">
    <div class="card-body">
      <a href= <%=root_path%> class="text-muted">
        Quay lại
      </a>
      <div class="">
        <img src=<%=asset_path("clip-message-sent.png") %> class="img-fluid" alt="Responsive image">
      </div>
      <h5 class="font-18 text-center">Vui lòng kiểm tra hòm thư.</h5>
    </div>
  </div>
</div>
<!-- END wrapper -->