<!--  Modal content for the above example -->
<div class="modal fade bs-example-modal-center show" id="mainModal" tabindex="-1" role="dialog" aria-labelledby="mainModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" style = "max-width: 800px!important;">
    <div class="modal-content">
      <%= yield %>
    </div>
  </div>
</div>
