<div class="modal-header">
  <h5 class="modal-title mt-0" id="myLargeModalLabel">Lỗi: Ngừng đăng kí</h5>
  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
    <span aria-hidden="true">&times;</span>
  </button>
</div>

<div class="modal-body">
  <h6>Rất tiếc, đã hết thời gian đăng kí lịch thi</h6>
</div>

<div class="modal-footer">
  <button type="button" class="btn btn-secondary" data-dismiss="modal">Đóng</button>
</div>