<table id="datatable-buttons" class="table table-striped table-bordered dt-responsive nowrap" style="border-collapse: collapse; border-spacing: 0; width: 100%;">
  <thead>
  <tr>
    <th> </th>
    <th data-priority="3"></th>
    <th data-priority="1">Họ</th>
    <th data-priority="3">Tên</th>
    <th data-priority="3">Ngày sinh</th>
    <th data-priority="6">Giới tính</th>
    <th data-priority="6">Lớp</th>
    <th data-priority="6">Ngành</th>
    <th data-priority="6">Khoa</th>
    <th data-priority="9">Cập nhật lúc</th>
  </tr>
  </thead>
</table>