<div class="form-group row">
  <div class="col-sm-12">
    <%= f.input :courseID, label: 'Mã số khoá học', error: 'Vui lòng nhập lại mã số khoá học', class: 'form-control' %>
  </div>
</div>
<div class="form-group row">
  <div class="col-sm-12">
    <%= f.input :name, label: 'Tên khoá học', error: 'Vui lòng nhập lại tên khoá học', class: 'form-control' %>
  </div>
</div>
<div class="form-group row">
  <div class="col-sm-12">
    <%= f.input :credit, label: 'Số tín chỉ', error: 'Vui lòng nhập lại số tín chỉ', class: 'form-control', as: :integer %>
  </div>
</div>