<div class="row" style="font-size: 16px;">
  <div class="col-1"></div>
  <div class="col-5" style="width: 40%; text-align: center; vertical-align: top;">
    <address>
      <strong>BỘ GIÁO DỤC VÀ ĐÀO TẠO</strong><br>
      <strong>TRƯỜNG ĐẠI HỌC ABC</strong>
    </address>
  </div>
  <div class ="col-5" style="width: 40%; text-align: center; vertical-align: top;">
    <address>
      <strong>CỘNG HOÀ XÃ HỘI CHỦ NGHĨA VIỆT NAM</strong><br>
      <strong>Độc lập - Tự do - Hạnh phúc</strong>
    </address>
  </div>
</div>