<div class="row" style="font-size: 16px;">
  <div class="col-6 text-center text-uppercase">
    <address>
      <strong>BỘ GIÁO DỤC VÀ ĐÀO TẠO</strong><br>
      <strong>TRƯỜNG <%=@App_Name%></strong>
    </address>
  </div>
  <div class ="col-6 text-center">
    <address>
      <strong>CỘNG HOÀ XÃ HỘI CHỦ NGHĨA VIỆT NAM</strong><br>
      <strong>Độc lập - Tự do - Hạnh phúc</strong>
    </address>
  </div>
</div>