<div class="modal-header">

  <h5 class="modal-title mt-0" id="myLargeModalLabel">Danh sách sinh viên đăng kí</h5>

  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
    <span aria-hidden="true">&times;</span>
  </button>
</div>

<div class="modal-body">

  <div class="row">
    <div class="col-12">
      <div class="card m-b-30">
        <div class="card-body">
          <%= render partial: 'admin/schedule_management/show/paperHeader' %>
          <div class="row mt-4" style="font-size: 16px;">
            <div class="col-12" style="width: 40%; text-align: center; vertical-align: top; text-transform: uppercase">
              <address>
                <strong>DANH SÁCH SINH VIÊN DỰ THI - KỲ THI <%=@exam.name %> </strong><br>
              </address>
            </div>
          </div>
          <%= render partial: 'admin/schedule_management/show/scheduleInfo' %>
          <%= render partial: 'admin/schedule_management/show/tableStudents' %>


        </div>
      </div>
    </div> <!-- end col -->
  </div> <!-- end row -->


</div>

<div class="modal-footer">
  <div class="d-print-none mo-mt-2">
    <div class="float-right">
      <a href="javascript:window.print()" class="btn btn-success waves-effect waves-light"><i class="fa fa-print"></i></a>
      <button type="button" class="btn btn-secondary" data-dismiss="modal">Đóng</button>
    </div>

  </div>
</div>
