<div class="row">
    <div class="col-12">
        <div class="card-columns">
            <%# themes = ['mdi mdi-cube-outline bg-primary text-white','mdi mdi-briefcase-check bg-success','mdi mdi-tag-text-outline bg-warning','mdi mdi-buffer bg-danger'] %>
          <div  class="card m-b-30">
            <div class="card-body">

              <a  class = "mdi mdi-library-plus" size="1000" style="font-size: 600%; margin-left:40% "> </a>
            </div>
          </div>
          <% @exams.each_with_index do |exam, index| %>
            <div class="card m-b-30">
                <div class="card-body">
                    <div>
                        <h4 class="mt-4">
                            Kỳ thi <%=exam.name%>
                        </h4>
                        <h6 class="mt-4">
                            Số khoá học: <%=@courses.count %>
                        </h6>

                        <h6 class="mt-4">
<!--                            Số ca thi: <%# @exam_schedules.count %>-->
                        </h6>
                    </div>
                    <a href="<%=exams_admin_schedule_management_index_path(exam,nil) %>" class="btn btn-success mt-2">Xem chi tiết</a>
                </div>
            </div>
            <% end %>
        </div>
    </div>
</div>