<table id="datatable-buttons" class="table table-striped table-bordered dt-responsive nowrap" style="border-collapse: collapse; border-spacing: 0; width: 100%;">
  <thead>
  <tr>
    <th> </th>
    <th data-priority="1">Kỳ thi</th>
    <th data-priority="1">Ngày thi</th>
    <th data-priority="3">Giờ bắt đầu</th>
    <th data-priority="3">Giờ kết thúc</th>
    <th data-priority="2">Môn thi</th>
    <th data-priority="2">Phòng thi</th>
    <th data-priority="4">Cập nhật lúc</th>
  </tr>
  </thead>
</table>