<div class="container">
  <div class="row align-items-center">
    <div class="col-sm-3">
      <button type="button" class="mb-3 btn btn-success btn-lg btn-block waves-effect waves-light"
              data-toggle="collapse" data-target="#inputXLS" aria-expanded="false" aria-controls="collapseExample">
        <i class = "mdi mdi-database-import"></i>
        Nhập ca thi từ Excel
      </button>
    </div>
    <div class="col-sm-3">
      <button id="newStudentButton" type="button" class="mb-3 btn btn-primary btn-lg btn-block waves-effect waves-light" data-toggle="modal" data-target=".bs-example-modal-lg">
        <i class = "mdi mdi-pencil-plus-outline"></i>
        Thêm ca thi từ form
      </button>
    </div>

  </div>
</div>

<%= render partial: 'dashboard_admin/schedule_management/index/toolbar-addSchedule' %>
<%= render partial: 'dashboard_admin/schedule_management/index/toolbar-inputExcel' %>

