<div class="card m-b-30 text-white" style="background-color: #333; border-color: #333;">
  <div class="card-body">
    <h3 class="card-title font-16 mt-0">Tạo kỳ thi mới</h3>
    <p class="card-text">Bạn có thể tạo kỳ thi bằng cách bấm nút thêm ở dưới.</p>
    <%= link_to "Thêm phòng thi", new_admin_exam_path, class: 'btn btn-primary rounded btn-custom waves-effect waves-light', data: { modal: true } %>
  </div>
</div>