<%= simple_form_for(@student, :url => update_student_admin_student_management_index_path , remote: request.xhr?, html: { data: { modal: true }, id: 'form_edit_student' }) do |f| %>
  <div class="modal-header">
    <h5 class="modal-title mt-0" id="myLargeModalLabel">Sửa sinh viên: <%=@student.studentID%></h5>
    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>

  <div class="modal-body">
    <%= render 'admin/student_management/new/StudentForm', f: f %>
  </div>

  <div class="modal-footer">
    <%= f.button :submit, "Lưu", class: 'btn btn-primary' %>
    <button type="button" class="btn btn-secondary" data-dismiss="modal">Đóng</button>
  </div>
<% end %>