<!-- Right Sidebar -->
<div class="email-rightbar mb-3">

  <div class="card">

    <div class="row p-3">
      <div class="col-lg-4">
      </div>

      <div class="col-lg-8">
          <%= render partial: 'admin/room_management/show/toolbar' %>
      </div>

    </div>

    <div class="message-list">

      <div class="col-xl-2 col-lg-3 col-md-4">

        <h4 class="m-t-5 m-b-15 font-14">Created Events</h4>
        <form method="post" id="add_event_form" class="m-t-5 m-b-20">
          <input type="text" class="form-control new-event-form" placeholder="Add new event..." />
        </form>

        <div id='external-events'>
          <h4 class="m-b-15 font-14">Draggable Events</h4>
          <div class='fc-event'>My Event 1</div>
          <div class='fc-event'>My Event 2</div>
          <div class='fc-event'>My Event 3</div>
          <div class='fc-event'>My Event 4</div>
          <div class='fc-event'>My Event 5</div>
        </div>

        <!-- checkbox -->
        <div class="custom-control custom-checkbox mt-3">
          <input type="checkbox" class="custom-control-input" id="drop-remove" data-parsley-multiple="groups" data-parsley-mincheck="2">
          <label class="custom-control-label" for="drop-remove">Remove after drop</label>
        </div>

      </div>

      <div id='calendar' class="col-xl-10 col-lg-9 col-md-8"></div>

    </div>

  </div>
  <!-- card -->

  <div class="row m-t-20">
    <div class="col-7">
      Showing 1 - 20 of 1,524
    </div>
    <div class="col-5">
      <div class="btn-group float-right">
        <button type="button" class="btn btn-sm btn-success waves-effect"><i class="fa fa-chevron-left"></i></button>
        <button type="button" class="btn btn-sm btn-success waves-effect"><i class="fa fa-chevron-right"></i></button>
      </div>
    </div>
  </div>

</div>