<div class="btn-toolbar float-lg-right" role="toolbar">
  <div class="btn-group mo-mb-2 mr-2">
    <%= link_to "<i class = 'mdi mdi-pencil'></i> Sửa thông tin phòng thi ".html_safe, edit_admin_room_management_path(@room), class: 'btn btn-primary waves-light waves-effect', data: { modal: true } %>
  </div>
  <div class="btn-group mo-mb-2">
    <button type="button" id="alertify-confirm" class="btn btn-danger waves-light waves-effect"><i class="far fa-trash-alt"></i> Xoá phòng thi </button>
  </div>
</div>