<div class="card">
  <div class="card-heading p-4">
    <div class="mini-stat-icon float-right">
      <i class="mdi mdi-calendar-remove-outline bg-danger text-white"></i>
    </div>
    <div>
      <h5 class="font-16">Số SV bị cấm thi 1 môn</h5>
    </div>
    <h3 class="mt-4"><%=@banned.count %></h3>
  </div>
</div>