<div class="card">
  <div class="card-heading p-4">
    <div class="mini-stat-icon float-right">
      <i class="mdi mdi-lead-pencil bg-warning text-white"></i>
    </div>
    <div>
      <h5 class="font-16">Tổng số lượt đăng kí</h5>
    </div>
    <h3 class="mt-4"><%=@registrations.count%></h3>
  </div>
</div>