<!DOCTYPE html>
<html>
<head>
  <meta charset='utf-8' />
  <%= wicked_pdf_stylesheet_link_tag "bootstrap.min" %>
  <%= wicked_pdf_stylesheet_link_tag "style" %>

</head>
<body style = "background: none">
<div class='container'>
  <%= yield %>
</div>
</body>
</html>