<%= render partial: 'admin/course_management/index/include' %>

<div class="row">
  <div class="col-12">
    <div class="card-body">
      <%= render partial: 'admin/course_management/index/tableCourse' %>
    </div>

  </div> <!-- end col -->
</div> <!-- end row -->